powerplatform/PowerPlatformSdkExtRuntimeToOneDriveExport/modernflows/02e09746-97c3-f011-bbd3-6045bd96b90f/PowerPlatformSDKExtensionsRuntimeExportAssembliest-02E09746-97C3-F011-BBD3-6045BD96B90F.json
{
  "properties": {
    "connectionReferences": {
      "dataverse": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "frh_PowerPlatformSdkExtensions_RuntimeExport_Dataverse"
        },
        "runtimeSource": "embedded"
      },
      "onedrive": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "frh_PowerPlatformSdkExtensions_RuntimeExport_OneDriveBusiness"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Platform SDK Extensions Runtime Export Skip Main Path Segment Count (frh_PowerPlatformSdkExtensions_RuntimeExport_SkipMainPathSegmentCount)": {
          "defaultValue": 3,
          "type": "Int",
          "metadata": {
            "schemaName": "frh_PowerPlatformSdkExtensions_RuntimeExport_SkipMainPathSegmentCount",
            "description": "The number of segments to skip from the Main Files Directory path when exporting runtime files"
          }
        },
        "Power Platform SDK Extensions Runtime Export Destination Folder (frh_PowerPlatformSdkExtensions_RuntimeExport_DestinationPath)": {
          "defaultValue": "/PowerPlatform/SandboxWorker",
          "type": "String",
          "metadata": {
            "schemaName": "frh_PowerPlatformSdkExtensions_RuntimeExport_DestinationPath"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "interval": 1,
            "frequency": "Week",
            "timeZone": "W. Europe Standard Time",
            "schedule": {
              "weekDays": [
                "Sunday"
              ],
              "hours": [
                "17"
              ],
              "minutes": [
                23
              ]
            },
            "startTime": "2025-11-17T10:30:00"
          }
        }
      },
      "actions": {
        "Sandbox_Worker_Environment_Details": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "sdk_RetrieveSandboxWorkerEnvironmentDetails"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "dataverse"
            }
          },
          "runAfter": {}
        },
        "Foreach_Sandbox_Worker_Main_File": {
          "type": "Foreach",
          "foreach": "@coalesce(body('Sandbox_Worker_Environment_Details')?['SandboxWorkerMainFiles']?['Files'], json('[]'))",
          "actions": {
            "Sandbox_Worker_Main_File": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "sdk_RetrieveSandboxWorkerRuntimeFile",
                  "item/FilePath": "@item()"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "dataverse"
                }
              }
            },
            "Sandbox_Worker_Main_File_Path_Segments": {
              "type": "Select",
              "inputs": {
                "from": "@skip(body('Sandbox_Worker_Main_File')?['Uri']?['Segments'], parameters('Power Platform SDK Extensions Runtime Export Skip Main Path Segment Count (frh_PowerPlatformSdkExtensions_RuntimeExport_SkipMainPathSegmentCount)'))",
                "select": "@if(endsWith(item(), '/'), slice(item(), 0, -1), item())"
              },
              "runAfter": {
                "Sandbox_Worker_Main_File": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "count": "@length(action()['outputs']['body'])",
                "directoryPath": "@join(take(action()['outputs']['body'], sub(length(action()['outputs']['body']), 1)), '/')",
                "fullPath": "@join(action()['outputs']['body'], '/')",
                "fileName": "@last(action()['outputs']['body'])"
              }
            },
            "Sandbox_Worker_Main_File_on_OneDrive": {
              "runAfter": {
                "Sandbox_Worker_Main_File_Path_Segments": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "folderPath": "@{parameters('Power Platform SDK Extensions Runtime Export Destination Folder (frh_PowerPlatformSdkExtensions_RuntimeExport_DestinationPath)')}/@{actions('Sandbox_Worker_Main_File_Path_Segments')['trackedProperties']['directoryPath']}",
                  "name": "@actions('Sandbox_Worker_Main_File_Path_Segments')['trackedProperties']['fileName']",
                  "body": "@base64ToBinary(body('Sandbox_Worker_Main_File')['ContentBase64'])"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "CreateFile",
                  "connectionName": "onedrive"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Sandbox_Worker_Main_File_on_OneDrive_(Updated)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@{actions('Sandbox_Worker_Main_File_on_OneDrive')['inputs']['parameters']['folderPath']}/@{actions('Sandbox_Worker_Main_File_on_OneDrive')['inputs']['parameters']['name']}",
                  "body": "@actions('Sandbox_Worker_Main_File_on_OneDrive')['inputs']['parameters']['body']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "UpdateFile",
                  "connectionName": "onedrive"
                }
              },
              "runAfter": {
                "Sandbox_Worker_Main_File_on_OneDrive": [
                  "Failed"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "runAfter": {
            "Sandbox_Worker_Environment_Details": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Sandbox_Worker_Main_Assembly_File_Actions": {
          "runAfter": {
            "Foreach_Sandbox_Worker_Main_File": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@actions('Sandbox_Worker_Main_File')['outputs']",
            "where": "@not(equals(item()['outputs']['body']?['AssemblyName']?['FullName'], null))"
          }
        },
        "Sandbox_Worker_Main_Assembly_Names": {
          "runAfter": {
            "Sandbox_Worker_Main_Assembly_File_Actions": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Sandbox_Worker_Main_Assembly_File_Actions')",
            "select": "@concat(item()['outputs']['body']['AssemblyName']['FullName'], ', InformationalVersion=', item()['outputs']['body']['AssemblyName']?['InformationalVersion'])"
          }
        },
        "Sandbox_Worker_Main_Directory_Paths": {
          "runAfter": {
            "Sandbox_Worker_Main_Assembly_Names": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@actions('Sandbox_Worker_Main_File_Path_Segments')['outputs']",
            "select": "@item()?['trackedProperties']['directoryPath']"
          },
          "trackedProperties": {
            "unique": "@union(action()['outputs']['body'], json('[]'))"
          }
        },
        "Foreach_Sandbox_Worker_Main_Directory_Path": {
          "type": "Foreach",
          "foreach": "@actions('Sandbox_Worker_Main_Directory_Paths')['trackedProperties']['unique']",
          "actions": {
            "Sandbox_Worker_Main_Files_in_Directory": {
              "type": "Query",
              "inputs": {
                "from": "@actions('Sandbox_Worker_Main_File_Path_Segments')['outputs']",
                "where": "@equals(items('Foreach_Sandbox_Worker_Main_Directory_Path'), item()?['trackedProperties']['directoryPath'])"
              }
            },
            "Sandbox_Worker_Main_File_Names_in_Directory": {
              "type": "Select",
              "inputs": {
                "from": "@body('Sandbox_Worker_Main_Files_in_Directory')",
                "select": "@item()['trackedProperties']['fileName']"
              },
              "runAfter": {
                "Sandbox_Worker_Main_Files_in_Directory": [
                  "Succeeded"
                ]
              }
            },
            "OneDrive_Sandbox_Worker_Main_Directory": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "path": "@{parameters('Power Platform SDK Extensions Runtime Export Destination Folder (frh_PowerPlatformSdkExtensions_RuntimeExport_DestinationPath)')}/@{items('Foreach_Sandbox_Worker_Main_Directory_Path')}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "GetFileMetadataByPath",
                  "connectionName": "onedrive"
                }
              },
              "runAfter": {
                "Sandbox_Worker_Main_File_Names_in_Directory": [
                  "Succeeded"
                ]
              }
            },
            "OneDrive_Sandbox_Worker_Main_Directory_Files": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@body('OneDrive_Sandbox_Worker_Main_Directory')['Id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "ListFolderV2",
                  "connectionName": "onedrive"
                }
              },
              "runAfter": {
                "OneDrive_Sandbox_Worker_Main_Directory": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "OneDrive_Files_not_Sandbox_Worker_Main_File": {
              "type": "Query",
              "inputs": {
                "from": "@body('OneDrive_Sandbox_Worker_Main_Directory_Files')['value']",
                "where": "@and(not(item()['IsFolder']), not(contains(body('Sandbox_Worker_Main_File_Names_in_Directory'), item()['Name'])))"
              },
              "runAfter": {
                "OneDrive_Sandbox_Worker_Main_Directory_Files": [
                  "Succeeded"
                ]
              }
            },
            "Foreach_OneDrive_File_not_Sandbox_Worker_Main_File": {
              "type": "Foreach",
              "foreach": "@body('OneDrive_Files_not_Sandbox_Worker_Main_File')",
              "actions": {
                "Delete_OneDrive_Files_not_Sandbox_Worker_Main_File": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "id": "@item()['Id']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                      "operationId": "DeleteFile",
                      "connectionName": "onedrive"
                    }
                  }
                }
              },
              "runAfter": {
                "OneDrive_Files_not_Sandbox_Worker_Main_File": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            }
          },
          "runAfter": {
            "Sandbox_Worker_Main_Directory_Paths": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "OneDrive_AssemblyList_File": {
          "runAfter": {
            "Foreach_Sandbox_Worker_Main_Directory_Path": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "folderPath": "@parameters('Power Platform SDK Extensions Runtime Export Destination Folder (frh_PowerPlatformSdkExtensions_RuntimeExport_DestinationPath)')",
              "name": "AssemblyList.txt",
              "body": "@join(body('Sandbox_Worker_Main_Assembly_Names'), '\n')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "connectionName": "onedrive"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}